body{
    background-color: lightblue;
}
nav{
    display:flex;
    width: 100%;
    justify-content: flex-start;
    border: 2px solid black;
    background-color: lightcoral;
    position: fixed;
}
#nav-items{
    border:2px solid black;
    margin:2px;
    padding:4px;
    color:black;
    font-weight: 800;
    align-self: stretch;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}
#nav-logo img{
    width: 100%;
    height: 100%;
    position:  relative;
}